.packages{
    .btn_add{
        text-align: right;
        margin: 20px;
    }
    .package{
        padding: 20px;
        border-bottom: 1px solid black;
        .title{
            font-weight: 500;
            font-size: 18px;
            padding-bottom: 20px;
        }
    }
}
.overlay{
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}